body {
  text-align: center;
  background-color: #282c34;
  color: aliceblue;
}

.title {
  font-size: 42px;
  margin-left: 120px;
}

.faith {
  margin-left: 120px;
}

.action-btn {
  margin-top: 70px;
  font-size: 52px;
  padding-left: 50px;
  padding-right: 50px;
}

.list-group {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-size: 22px;
}

.add-input {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.error-msg {
  width: 500px;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.dismiss-btn {
  float: right;
  top: 40%;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
