body {
  text-align: center;
  background-color: #282c34;
  color: aliceblue;
}

.navbar-brand {
  font-size: 42px;
}

.action-btn {
  margin-top: 70px;
  font-size: 42px;
  padding-left: 50px;
  padding-right: 50px;
}

.list-group {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.add-input {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}